# File simulation
*.vcd
*.wlf
*.fsdb

# File build
*.out
*.o
*.exe

# Quartus
db/
incremental_db/
output_files/

# QuestaSim / ModelSim
work/
transcript
vsim.wlf

# Vivado
.cache/
.hw/
.ip_user_files/
.runs/

# Log
*.log

# Backup
*.bak

# Icarus Verilog
*.vvp